<div class="container">
  
    <h1>ログイン</h1>
<p class="fsize">※登録したメールアドレスとパスワードを入力</p>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
 <br> <h2>メール </h2>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
<br>
  <div class="field">
  <h2>パスワード </h2>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
<br>
  <% if devise_mapping.rememberable? %>
    <div class="field2">
      <%= f.check_box :remember_me %>
      <p>  &nbsp; ログイン状態を保持する</p>
      <br>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>


<%= render "users/shared/links" %>
</div>
