<%= stylesheet_link_tag 'index', :media => "all" %>

<div class="img-frame">
 <div class="img-01"></div>
 <div class="img-02"></div>
 <div class="img-03"></div>
 </div>



<div class="kensaku-container">
<h1>投稿を検索</h1>
<br>
<div class="search_box">
 <%= form_tag({controller:"noris",action:"index"}, method: :get) do %>
   <input type="text" placeholder="ここにキーワード">
   <%= submit_tag 'キーワードで検索'  %>
<% end %>
</div>

<div class="kensaku">
<br>
<%= form_tag({controller:"noris",action:"index"}, method: :get) do %>
  <% Tag.all.each do |t| %>
      <li><%= check_box :tag_ids, t.name %><%= t.name %></li>
  <% end %>
  <%= submit_tag '条件で検索' %>
<% end %>
</div>
<div class="link">
<% if user_signed_in? %>
  <%= link_to "マイページへ", user_path(current_user.id) %>
<% end %>

<% if user_signed_in? %>
<%= link_to "新規投稿", new_nori_path %>
<% end %>
</div>
</div>


<div class="noris-container">
</div>
<h1>投稿一覧</h1>
  <% @noris.each do |t| %>
    <div class="nori">
      <div class="main-box">
        <div class="left-container">
        <%= image_tag t.image_url, size: "350x300" if t.image? %>
      </div>
      <div class="right-container">
      <ul>
      <div>
      <li><h2>総合評価：
      <span class="star-rating">
        <span class="star-rating-front" style="width: <%= getPercent(t.hoshi) %>%;">★★★★★</span>
        <span class="star-rating-back">★★★★★</span>
      </span> 
      </h2></li>
      </div>
         <li>住所：<%= t.address %></li>
         <li>店名：<%= t.shop_name %></li>
         <li>価格：<%= t.price %></li>
         <li>商品名：<%= t.name %></li>
         <li>詳細：<%= t.about %></li>
         <li>投稿者：<%= t.user.name %></li>
        </ul>
      
        <% if user_signed_in? %>
          <% if current_user.already_liked?(t) %>
              <%= button_to nori_like_path(id: t.id, nori_id: t.id), method: :delete do %>
                  <p>いいねを取り消す</p><%= t.likes.count %>
              <% end %>
          <% else %>
              <%= button_to nori_likes_path(id: t.id, nori_id: t.id), method: :post do %>
                <p>いいね</p><%= t.likes.count %>
              <% end %>
          <% end %>
        <% else %>
        <p>いいねの数 = </p><%= t.likes.count %>
        <% end %>
      <%= t.created_at %>
      <%= link_to "詳細ページへ", nori_path(t.id),data: { turbo: false } %>
      <% if user_signed_in? && current_user.id == t.user_id %>
         <%= link_to "編集する", edit_nori_path(t.id) %>
         <%= button_to "削除する", nori_path(t.id), method: :delete %>
      <% end %> 
        </div>
      </div>
      <p class="time"><%= t.created_at %></p>
    </div>
  <% end %>
</div>

