
<div class="show-container">
<h1>投稿の詳細</h1>
<br>
  投稿者：<%= @nori.user.name %>
  住所：<%= @nori.address %> 
  店名：<%= @nori.shop_name %>
  価格：<%= @nori.price %>
  商品名：<%= @nori.name %>
  詳細：<%= @nori.about %>
  タグ：<% @nori.tags.each do |tag| %>
    <span><%= tag.name %></span>
  <% end %>

  <p><%= @nori.created_at %></p>

  <% if user_signed_in? %>
      <% if current_user.already_liked?(@nori) %>
        <%= button_to nori_like_path(@nori), method: :delete do %>
          <p>いいねを取り消す</p><%= @nori.likes.count %>
        <% end %>
      <% else %>
        <%= button_to nori_likes_path(@nori), method: :post do %>
          <p>いいね</p><%= @nori.likes.count %>
        <% end %>
      <% end %>
    <% else %>
      <p>いいねの数 = </p><%= @nori.likes.count %>
    <% end %>
  <% if user_signed_in? %>
    <%= link_to "編集する", edit_nori_path(@nori.id) %>
  <% end %>
</div>
<div class="googlemap">
<div id='map'></div>

<style>
#map {
  height: 600px;
  width: 100%;
}
</style>

<!-- js部分 -->
<script>
//初期マップの設定
let map
let marker
function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    center:  {lat: <%= @nori.lat %>, lng: <%= @nori.lng %>},
    zoom: 15,
  });

   marker = new google.maps.Marker({
    position:  {lat: <%= @nori.lat %>, lng: <%= @nori.lng %>},
    map: map
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBimL6F9mKgTt69QddU3Hu6WdzQKsVhYkc&callback=initMap" async defer></script>
</div>

<div class="iine">
<h2>いいねしたユーザー</h2>
<% @nori.liked_users.each do |user| %>
  <li><%= user.email %></li>
<% end %>
</div>

<div class="comment-wrapper">
  <h2>コメント一覧</h2>
  <% @comments.each do |c| %>
    <div>
      <%= c.user.email unless c.user.blank? %>
      <br>
      <%= c.content %>
    </div>
      <br>
  <% end %>

  <% if user_signed_in? %>
    <%= form_with(model: [@nori, @comment], local: true) do |f| %>
      <%= f.text_area :content %>
      <%= button_tag type: "submit" do %>
        <i class="far fa-comments"></i> コメントする
      <% end %>
    <% end %>
  <% end %>
</div>
</div>



