<!DOCTYPE html>
<html>
  <head>
    <title>Mashimashi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: 'all', "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>


  <body>
 <header>
 <div class="home">
          <%= link_to noris_path do %>
            <%= image_tag 'icon2.jpg', alt: "俺のラーメン", class: "homeicon" %>
          <%end%>
          <h1>俺のラーメン</h1>
  </div>
 
  <div class="header-list">
   <ul>

    <div class="roguout">
      <% if user_signed_in? %>
      <li><%= button_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
      <% else %>
      <li><%= link_to "新規登録", new_user_registration_path %></li>
      <li><%= link_to "ログイン", new_user_session_path %></li>
      <% end %>
      </ul>
    </div>
  </div>
 </header>
 <main>
  <%= yield %>
 </main>

  <footer>
    <p>Copyright © 俺のラーメン All Rights Reserved.</p>
  </footer>

</body>

 
</html>
